app:
  bootstrap:
    admin:
      enabled: false

management:
  endpoint:
    health:
      show-details: never

spring:
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
